apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: demo-go-micro
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: order-service:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8082
        env:
        - name: PORT
          value: "8082"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: demo-go-micro
spec:
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: order-service